.first-container .logo {
    font-weight: 700;
    font-size: 25px;
    color: #0092e4;
}

.first-container header {
    display: grid;
    grid-template-columns: 208px 1fr;
    align-items: center;
    margin-top: 18px;
}

.first-container .navigate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.first-container .navigate .menu {
    margin-left: 42px;
}

.first-container .navigate .menu ul {
    display: grid;
    grid-template-columns: 81px 117px 108px;
    column-gap: 10%;
}

.first-container .navigate .menu ul li a {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.first-container .contact-btn {
    border-radius: 39px;
    padding: 20px 56px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    justify-self: flex-end;
    margin-top: 16px;
    transition: 0.5s;
    font-weight: 700;
    font-size: 20px;
    color: #0092e4;
    text-decoration: none;
    transition: 0.8s;
}


.first-container .contact-btn:hover {
    color: #fff;
    background-color: #0092e4;
}

@media screen and (max-width:1024px) {
    .first-container .navigate .menu {
        display: grid;
        grid-template-columns: 74px 109px 104px;
    }

    .first-container .navigate .contact-btn a {
        font-size: 15px;
    }
}

@media screen and (max-width:800px) {
    .first-container .navigate .contact-btn{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .first-container .navigate {
        display: none;
    }
}